@import '/src/styles/typed';

.landing {
  // background: radial-gradient(ellipse at 50% 10%, black, #151c30);
  background: radial-gradient(circle at 50% 200%, black, black 65%, #151c30 85%, #151c30 85%);
}

.moon {
  @media (max-width: 1200px) {
    width: 180px;
  }

  @media (max-width: 768px) {
    width: 120px;
  }
}

.job-title {
  pointer-events: none;
  @include typed(
    "Software Engineer",
    "Fullstack Engineer",
    "Web Developer",
    1.5,
    (
      caret-width: 2px,
      caret-space: 2px
    )
  );
}